@{
    ViewData["Title"] = "Página Inicial";
}

<div class="card">
    <div class="card-body">
        <h2 class=" card-title">INformações do Usuario</h2>
        <p><strong>Nome:</strong>@ViewBag.NomeUsuairo</p>
        <p><strong>Email:</strong>@ViewBag.EmailUsuario</p>
        <p><strong>Nivel de Acesso:</strong>@ViewBag.NivelAcesso</p>
        <p><strong>Data Acesso:</strong>@ViewBag.DataAcesso</p>
         
    </div>


</div>
